*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Oswald', sans-serif;
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1400px;
	margin:0 auto;
}

.clear{
	clear: both;
}

header{
	padding:20px 2% 35px 2%;
	height: 130px;
}

header div.logo{
	float: left;
}

header nav.desktop{
	float: right;
	position: relative;
	top:40px;
}

header nav.mobile{
	margin-top: 40px;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url(../imagens/menu.png);
	background-color: black;
	background-repeat: no-repeat;
	display: none;
}

header nav.mobile ul{
	display: none;
	width: 100%;
	border-bottom: 4px solid #eb2d2d;
	left: 0;
	top: 100px;
	z-index: 999;
	position: absolute;
	text-align: center;
	background-color: white;
}

header nav.mobile li{
	font-size: 23px;
	padding:20 0px;
	font-style: italic;
}

header nav.mobile li a{
	color: black;
	text-decoration: none;
}

header nav.desktop ul{
	list-style-type: none;
}

header nav.desktop ul li{
	float: left;
	font-size: 23px;
	padding:0 30px;
	font-style: italic;
}

header nav.desktop a{
    color: black;
    text-decoration: none;
}

section.banner{
	overflow:hidden;
	width: 100%;
	height: 650px;
	background-color: black;
	background-image: url('../imagens/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.text-banner{
	padding:70px;
}

.text-banner-single{
	width: 314px;
	font-style: italic;
	margin-top:30px;
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
	text-transform: uppercase;
	color: white;
	font-size: 23px;
	background-image: url('../imagens/box-text.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.text-banner .text-banner-single:nth-of-type(2){
	width: 200px;
	height: 70px;
	line-height: 70px;
	position: relative;
	left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
	width: 170px;
	height: 70px;
	line-height: 70px;
	position: relative;
	left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4){
	width: 320px;
	font-size: 21px;
	color: black;
	position: relative;
	left: -30px;
	line-height: 70px;
	background-image: url('../imagens/box-white-text.png');
}

section.veiculos-destaque{
	padding: 90px 2%;
}

section.veiculos-destaque .container{
	max-width: 1000px;
	padding: 40px 0;
}

.line-titulo{
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: black;
	top: 20px;
}

.line-titulo h2{
	position: relative;
	background-color: white;
	display: inline-block;
	padding: 0 20px;
	text-align: center;
	font-size: 27px;
	font-style: italic;
	text-transform: uppercase;
}

.vitrine-destaque{
	float: left;
	width: 33.3%;
}

.vitrine-destaque .carro-img{
	width: 100%;
	padding-top: 100%;
	background-size: 100% 100%;
	border: 8px solid white;
}

.vitrine-destaque h2{
	padding-left: 8px;
	color: black;
	font-style: italic;
	font-size: 20px;
}

.vitrine-destaque p{
	padding-top: 8px;
	padding-left: 8px;
	color: #353535;
	font-size: 15px;
	font-style: italic;
}

.btn1{
	text-align: center;
	display: block;
	line-height: 40px;
	background-color: #eb2d2d;
	text-decoration: none;
	border-bottom: 3px solid #b21e1e;
	color: white;
	font-size: 16px;
	font-style: italic;
	width: 150px;
}

.vitrine-destaque a{
	margin-left: 8px;
	margin-left: 8px;
}

.servicos-descricao{
	display: flex;
}

.half1{
	width: 50%;
	text-align: right;
	padding: 90px 0;
	background-color: #252525;
	color: white;
}

.half1-wraper{
	padding-right: 30%;
	text-align: left;
	display: inline-block;
}

.half1-wraper h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}

.half1-wraper ul{
	display: inline-block;
	margin-top: 20px;
}

.half1-wraper li{
	margin-left: 15px;
}

.half1-wraper a{
	margin-left: 40px;
	display: inline-block;
	vertical-align: bottom;
}

.half2{
	width: 50%;
	padding: 90px 100px;
	background-color: #eb2d2d;
	color: white;
}

.half2 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
	text-align: center;
}

.half2 .depoimento-single{
	margin-top: 19px;
}

.depoimento-single p{
	font-size: 22px;
}

.navigation{
	float: left;
	width: 100%;
	max-width: 700px;
	margin-top: 30px;
}

.arrows{
	float: left;
}

.navigation img{
	margin: 0 20px;
	cursor: pointer;
}

.nome-depoimento{
	float: right;
	color: #252525;
	font-size: 21px;
}

section.contato{
	padding: 80px 2%;
}

section.contato form{
	max-width: 600px;
	margin: 50px auto;
}

section.contato .input-wraper{
	float: left;
	padding: 10px;
	margin-top: 7px;
}

section.contato input[type=text]{
	width: 100%;
	border: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
}

section.contato input[type=email]{
	width: 100%;
	border: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
}

section.contato input[type=tel]{
	width: 100%;
	border: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
}

section.contato textarea{
	width: 100%;
	border: 1px solid #ccc;
	height: 120px;
	padding: 8px;
}

section.contato form .input-wraper:nth-of-type(5){
	text-align: center;
}

section.contato input[type=submit]{
	border-right: 0;
	border-left: 0;
	border-top: 0;
	cursor: pointer;
	display: inline-block;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

footer{
	padding: 40px 2%;
	background-color: #252525;
}

footer nav{
	float: left;
}

footer nav ul{
	list-style-type: none;
}

footer ul li{
	float: left;
	font-style: italic;
	font-size: 19px;
	padding: 0 30px;
}

footer ul a{
	color: white;
	text-decoration: none;
}

footer p{
	float: right;
	color: white;
	font-size: 19px;
	font-style: italic;
}

section.footer-dev{
	padding: 20px 2%;
	background-color: #eb2d2d;
}

@media screen and (max-width: 1200px){
	.half1{
		text-align: center;
	}

	.half1-wraper{
		text-align: left;
		padding-right: 0;
	}

	.half1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}
}

@media screen and (max-width: 768px){
	footer nav{
		display: none;
	}

	footer{
		text-align: center;
	}

	footer p{
		float: none;
	}

	.w50{
		width: 100%;
	}

	section.servicos-descricao{
		flex-direction: column;
	}

	.half1,.half2{
		padding: 100px 4%;
		width: 100%;
	}

	section.banner{
		background-size: cover;
		background-position: 100px center;
		height: 80vh;
	}

	nav.desktop
	{
		display: none;
	}

	header nav.mobile{
		display: block;
	}
}



@media screen and (max-width: 580px){
	.text-banner{
		padding:30px;
	}

	.text-banner-single{
		width: 240px;
		font-size: 18px;
	}

	.text-banner .text-banner-single:nth-of-type(4){
		width: 270px;
	}

	section.veiculos-destaque .line-titulo h2{
		font-size: 23px;

	}

	section.veiculos-destaque .container{
		max-width: 1000px;
		padding: 40px 0;
		text-align: center;
	}

	.vitrine-destaque{
		display: inline-block;
		float: none;
		width: 80%;
		margin-top: 20px;
	}

	.vitrine-destaque a{
		display: inline-block;
	}

}

@media screen and (max-width: 480px){
	.vitrine-destaque{
		width: 100%;
	}
}